.headerWrapper {
  border-bottom: 1px solid #c0baba;
  padding: 10px;

  .pmfby_logo {
    cursor: pointer;
  }

  .headerContent {
    margin: 0 10%;
  }

  .verticalLine {
    border: 1px solid #908f8f;
  }
}
