.wrapper .copyrightText {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px 0;
}

.footerLink {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  background: #2a2a2a;

  li {
    display: inline-flex;
    + li::before {
      content: '/\00A0';
      padding: 0 15px;
      color: #ffffff;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
